<style>
    .card {
        width: 100px;
        vertical-align: middle;
        padding: 10px;
    }
</style>

<div class="card" style="background: @card.Color">
    <div class="title">@card.Title</div>
</div>

@code {
    [Parameter]
    public Card card { get; set; }
}
