<style>

    .card {
        width: 100px;
        vertical-align: middle;
        background: rgba(120, 30, 20, 0.5);
        padding: 10px;
    }
</style>

<div class="card">
    <div class="title">@card.Title</div>
</div>

@code {
    [Parameter]
    public Card card { get; set; }
}
