@page "/{Team}"
@inject IDataAccess DataAccess;

<style>
    .bounds {
        display: flex;
        flex-direction: row;
    }

    .columns {
        background-color: blue;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        flex-direction: column;
    }
</style>

<div class="bounds">
    @if (Board == null)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var column in Board.Columns)
        {
            <div class="columns">
                <div class="column-header">@column.Name</div>
                @foreach (var card in column.Cards)
                {
                    <RetroBoard.Blazor.Components.CardComponent card="@card" />
                }
            </div>
        }
    }
</div>

@code {
    [Parameter] public string? Team { get; set; }

    Board? Board { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Team == null)
            throw new ArgumentNullException(nameof(Team));

        Board = await DataAccess.LoadBoardAsync(Team);

        if (Board == null)
            throw new ArgumentException($"Board not loaded");
    }
}
